html, 
body {
	font: small-caps 16px/1 monospace;
	background-color: #333;
	color: #ffe;
}
.container {
	max-width: 450px;
	margin: auto;
}
.dropzone { 
	border: 2px solid #000; 
	width: 100%;
	height: 100%;
}
#div1 { 
	text-align: center;
	padding:50px 10px;
	margin: auto;
}
#div1 img {
	margin: 2.5px;
	width: 100px;
	height: auto;
	border: 1px solid #ffe;
}
#imgList {
	padding: 0;
	list-style: none;
	text-align: center;
}
#imgList li {
	display: inline-block;
}
#imgList img { 
	border: 1px solid #000;
}
h4 { 
	color: #ffe;
	text-align: center;
	border-bottom: 2px solid #000;
	padding-bottom: 8px;
}